body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.App {
  background-color: #252526;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 40px auto;
  max-width: 1200px;
  min-width: 600px;
  padding: 20px;
  width: 80%;
}

h1 {
  animation: fadeIn 1s ease-out;
  color: #ffffff;
  font-family: 'Moot Jungle', sans-serif;
  font-size: 5em;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 20px;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 255, 128, 1);
}

a {
  text-decoration: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@font-face {
  font-family: 'Moot Jungle';
  src: url('../public/fonts/MootJungle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button {
  background-color: rgba(0, 255, 128, 0.3);
  border-radius: 4px;
  border: 1px solid #3c3c3c;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 16px;
  transition: background-color 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: rgba(0, 255, 128, 0.4);
}

button:active {
  border-color: rgba(223, 244, 3, 0.832);
  box-shadow: 0 0 8px rgba(223, 244, 3, 0.832);
}

button:disabled, button[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  filter: grayscale(0.05);
  opacity: 0.6;
  pointer-events: none;
}
